main{
    background-color: $primary-color;   
}
.encabezadoPublicaciones{
    text-align: center;
    background-color: $primary-color;   

}

.divPrincipalPublicaciones-grid{
    text-align: center;
    justify-content:  space-around;
    
    display: grid;
    background-color: $primary-color;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 
    "cardIz cardCentral cardDer"
    ;
    .card-CantidadProteina{
        grid-area:cardIz;
        @include button-style;
        button{
            @include button-comportamiento;
        }
    }

    .card-CantidadEjercicio{
        grid-area:cardCentral;
        @include button-style;
        button{
            @include button-comportamiento;
        }
        
    }

    .card-LeerLibro{
        grid-area:cardDer;
        @include button-style;
        button{
            @include button-comportamiento;
        }
    }

}