.contenedor-grid-Contacto{
    display: grid;
    background-color: #F4F3E2;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.5fr 3fr ;
    grid-template-areas: 
    "encabezado encabezado encabezado"
    "bancoIz formulario blancoDer";

    .encabezadoContacto{
        text-align: center;
        grid-area:encabezado;
    }

    .divMainContactoFormulario{
        text-align: center;
        grid-area:formulario ;
        display: grid;
        background-color: #F4F3E2;
        grid-template-columns: 1fr ;

        label {
            display: block;
        }
        button, input,textarea {
            width: 100%;
            padding: 1rem;
        }
        
        textarea {
            resize: none;
        }
        
        }


}
