.contenedor-grid-index{
    display: grid;
    background-color: $primary-color;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-rows: 0.5fr 3fr ;
    grid-template-areas: 
    "bannerIzBlanco encabezado bannerDerBlanco"
    "bannerIz contenidoCentral bannerDer"
    ;

    .encabezado{
        grid-area: encabezado;
        text-align: center;
    }
    .contenidoCentral{
        grid-area:contenidoCentral;
        text-align: center;
        p{
            padding-left: 1px;
            padding-right: 1px;
        }
    }
    .pieContenido{
        grid-area:footer ;
    }

    .bannerIzquierdo{
        grid-area: bannerIz;
        background-color:$primary-color;
        img{
            height: 50vh;
            width: 20vh;
        }
    }
    .bannerDerecho{
        grid-area: bannerDer;
        background-color:$primary-color;
        img{
            height: 50vh;
            width: 20vh;
        }
    }
}








