@mixin button-comportamiento{
    border: none ;
    width: 15vw;
    background-image:  linear-gradient(to right, $primary-color, $second-color);

    &:hover{
    background-image:  linear-gradient(to left, $primary-color, $second-color);
    }

}

@mixin button-style{
    background-color: $second-color;
    border-radius: 5%;
    img{
        height: 20vw;
        width: 20vw;
    }
    h5{
        background-color: $second-color-blur;
        border-radius: 10%;
    }
}

