/* HEADER */
header{
    background-color: $primary-color;     
    display:flex;
    img {
        padding-left:0 ;
        width: 100vh;
        height: 15vh;
    } 

    .menu{
        background-color: $primary-color;
        width: 100vh;
        .container{
            align-items: center;
        }
    }
    
}
